@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crushed&family=Galada&display=swap");

html {
  background: url("https://images.unsplash.com/photo-1588729827527-cbe98472aa8a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=438&q=80")
    no-repeat center right fixed;
  background-size: contain;
  background-color: black;
}

body {
  margin: 0px 0px;
  min-height: 100%;
  height: 100%;
  width: 100%;
  font-size: 1.25rem;
  font-family: Playfair Display, serif;
}

.master-container {
  display: flex;
  flex-direction: column;
}

.button {
  /* width: 150px; */
  /* background-image: linear-gradient(rgb(90, 75, 53), rgb(70, 52, 26)); */
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 191, 96);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: none;
  border-right: none;
  margin: 10px 0px;
  font-family: Crushed, serif;
  font-size: 1.25em;
  /* font-weight: bolder; */
  letter-spacing: 2px;
  border-radius: 0px;
  padding: 3px 10px;
  transition: 0.5s;
}

.button:hover {
  color: #e09200;
  border-top: 2px solid rgb(94, 54, 22);
  border-bottom: 2px solid rgb(94, 54, 22);
  cursor: pointer;
}
/***********************************************************************
 *  NavBar
 **********************************************************************/
.navbar {
  background: rgba(19, 19, 19, 0.75); /* Old browsers */
  width: 100%;
  position: relative;
  padding: 10px 0px;
}
.navbar-links {
  font-family: Crushed, serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* position: relative; */
}

a {
  text-decoration: none;
  color: #fff;
  padding: 0px 8px;
  transition: 0.5s;
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
}
.img-link {
  display: flex;
  justify-content: center;
  transition: 1s;
}
.img-link:hover {
  filter: brightness(125%);
}
.navlink:hover {
  text-shadow: 2px 2px 10px #cfa351;
}

.left-links a:hover,
.right-links a:hover {
  color: #e09200;
  border-top: 2px solid rgb(94, 54, 22);
  border-bottom: 2px solid rgb(94, 54, 22);
  cursor: pointer;
}

.left-links {
  position: absolute;
  left: calc(50% - 200px);
  top: 12px;
  padding-right: 10px;
}

.right-links {
  position: absolute;
  right: calc(50% - 260px);
  top: 12px;
}

/***********************************************************************
 *  Cover
 **********************************************************************/
.cover {
  width: 100%;
  /* background: #000000; Old browsers */
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cover-logo {
  margin: 20px 10px;
  width: 600px;
  transition: 0.5s;
  filter: saturate(0.5);
}

.cover-logo:hover {
  filter: saturate(1);
}

/***********************************************************************
 *  Page Details
 **********************************************************************/
.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  background-color: red;
}

.page-title {
  font-size: 2em;
  color: #e09200;
  font-family: Crushed, serif;
}

/***********************************************************************
 *  Footer
 **********************************************************************/
.footer {
  background: #f3aaaa; /* Old browsers */
  min-height: 20px;
}

/***********************************************************************
 *  Tiles/Content Styling
 **********************************************************************/
.content {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.05) inset;
}

.tile {
  min-width: 950px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(34, 34, 34, 0.75);
  border-radius: 10px;
  border: #fff;
}

.img-tile {
  width: 60%;
  min-height: 35vh;
  border: 2px 2px solid rgba(0, 0, 0, 0.5);
  background-size: cover;
  border-radius: 5px;
  box-shadow: -5px 5px 20px 1px rgba(48, 34, 34, 0.5);
}

.text-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  min-height: 35vh;
  background: rgba(0, 0, 0, 0.25);
}

.text-tile-text-emp {
  color: rgb(243, 234, 219);
  font-size: 1.25em;
  width: 95%;
}
.text-tile-text-minor {
  color: rgb(214, 195, 176);
  font-size: 0.75em;
  width: 90%;
}

.tile1 {
  display: flex;
  justify-content: right;
}

.tile2 {
  display: flex;
  justify-content: flex-end;
}

.inner-tile {
  /* margin: 20px 20px; */
}

.artist-img {
  min-height: 50vh;
  width: 350px;
  background-size: cover;
  background-position: center;
}
#cali {
  background-image: url("https://images.unsplash.com/photo-1572977438018-16c62331cecb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");
}

#guitar-closeup {
  background-image: url("https://images.unsplash.com/photo-1605232433977-5b5d562812e9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=678&q=80");
}

#gig {
  background-image: url("https://images.unsplash.com/photo-1508979822114-db019a20d576?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
}

#guitar {
  background-image: url("https://images.unsplash.com/photo-1510915361894-db8b60106cb1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
}

#band-photo {
  background-image: url("https://images.unsplash.com/photo-1483393458019-411bc6bd104e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80");
}

#guitarist1 {
  background-image: url("https://images.unsplash.com/photo-1611648822527-f13d606d13cd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
}

#guitarist2 {
  background-image: url("https://images.unsplash.com/photo-1598125009468-3d5f29d1f010?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1510&q=80");
}

#drummer {
  background-image: url("https://images.pexels.com/photos/2114759/pexels-photo-2114759.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

#vocalist {
  background-image: url("https://images.pexels.com/photos/1918159/pexels-photo-1918159.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
/***********************************************************************
 *  Media Queries
 **********************************************************************/
/*@media only screen and (max-width: 600px) {
  .navlink {
    font-size: 0.75em;
  }
  .navbar {
    background-color: rgb(68, 209, 219);
  }
  .tile {
    flex-direction: column;
    height: 60vh;
    width: 85vw;
  }
  .text-tile {
    width: 90%;
  }
  .img-tile {
    width: 90%;
  }
  .text-tile-text-emp {
    font-size: 1em;
  }
  .text-tile-text-minor {
    font-size: 0.75em;
  }
  .inner-tile {
  }
  .cover-logo {
    max-width: 300px;
  }

   .logo-image {
    width: 100px;
    height: 25px;
  } 
}*/

/* @media only screen and (min-width: 601px) and (max-width: 1200px) {
  .master-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cover {
    width: 800px;
  }
  .content {
    width: 800px;
  }

  .tile {
    flex-direction: row;
    width: 95%;
  }
  .text-tile {
    width: 90%;
  }
  .img-tile {
    width: 90%;
  }
  .text-tile-text-emp {
    font-size: 1.25em;
  }
  .text-tile-text-minor {
    font-size: 0.75em;
  }
  .inner-tile {
  }
}

@media screen and (min-width: 1201px) {
  .master-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cover {
    width: 1100px;
  }
  .content {
    width: 1100px;
  }
  /* .navbar {
    background-color: rgb(211, 58, 12);
  }
} */

@media only screen and (min-width: 1px) {
  .body {
    background: yellow;
  }
  .content {
    display: none;
  }
  .cover {
    display: none;
  }
}
