@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crushed&family=Galada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@1,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
html {
  background: url("./dark-guitar.png") no-repeat center right fixed;
  background-size: contain;
  background-color: black;
}

body {
  margin: 0px 0px;
  min-height: 100%;
  height: 100%;
  width: 100%;
  font-size: 22px;
  font-family: Playfair Display, serif;
}

.master-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 191, 96);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: none;
  border-right: none;
  margin: 10px 0px;
  font-family: Crushed, serif;
  font-size: 25px;
  letter-spacing: 2px;
  border-radius: 0px;
  padding: 3px 10px;
  transition: 0.5s;
}

.button:hover {
  color: #e09200;
  border-top: 2px solid rgb(94, 54, 22);
  border-bottom: 2px solid rgb(94, 54, 22);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}
/***********************************************************************
 *  NavBar
 **********************************************************************/
.navbar {
  background: rgba(19, 19, 19, 0.75);
  width: 100%;
  position: relative;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}
.navbar-links {
  font-family: Crushed, serif;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(195 169 141);
  padding: 0px 8px;
  transition: 0.5s;
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
}
.img-link {
  display: none;
  display: flex;
  justify-content: center;
  transition: 1s;
}

.text-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-link:hover {
  filter: brightness(125%);
}
.navlink:hover {
  text-shadow: 2px 2px 10px #cfa351;
}
.logo-image {
  display: none;
  width: 150px;
  height: 30px;
}
.left-links a:hover,
.right-links a:hover {
  color: #e09200;
  border-top: 2px solid rgb(94, 54, 22);
  border-bottom: 2px solid rgb(94, 54, 22);
  cursor: pointer;
}

.left-links {
  position: absolute;
  left: calc(50% - 290px);
  top: 12px;
  padding-right: 10px;
}

.right-links {
  position: absolute;
  right: calc(50% - 285px);
  top: 12px;
}

.dropDown-btn {
  display: none;
  height: 30px;
  width: 50px;
}

/***********************************************************************
 *  Cover
 **********************************************************************/
.cover {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cover-logo {
  margin: 20px 10px;
  width: 450px;
  transition: 0.5s;
  filter: saturate(0.5);
}

.cover-logo:hover {
  filter: saturate(1);
}
/***********************************************************************
 *  Tiles/Content Styling
 **********************************************************************/
.content {
  text-align: center;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.05) inset;
}

.tile {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: rgba(34, 34, 34, 0.75);
  border-radius: 10px;
  border: #fff;
  position: relative;
}

.tile:nth-child(n + 2) {
  margin-top: 20px;
}

.img-tile {
  width: 60%;
  flex: 0 0 auto;
  background-size: cover;
  border-radius: 5px;
  box-shadow: -5px 5px 20px 1px rgba(48, 34, 34, 0.5);
  background-position: center;
}

.text-tile {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 35vh;
  background: rgba(0, 0, 0, 0.25);
  margin-left: 20px;
  padding: 10px;
}

.tile:nth-child(even) .text-tile {
  margin-right: 20px;
  margin-left: 0;
}

.text-tile-text-emp {
  color: rgb(143, 116, 88);
  font-size: 30px;
  width: 95%;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 3px;
}
.text-tile-text-minor {
  color: rgb(214, 195, 176);
  font-size: 19px;
  width: 90%;
  letter-spacing: 0px;
  margin: 3px;
  padding-top: 10px;
}

.tile1 {
  display: flex;
  justify-content: right;
}

.tile2 {
  display: flex;
  justify-content: flex-end;
}
.vertical-tile {
  display: flex;
  flex-direction: column;
}

.artist-img {
  min-height: 200px;
  width: 50%;
  background-size: cover;
  background-position: center;
}

#video-container {
  height: 450px;
  width: 800px;
}

#video-text-tile {
  margin-left: 0;
}

#cali {
  background-image: url("https://images.unsplash.com/photo-1572977438018-16c62331cecb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");
}

#guitar-closeup {
  background-image: url("https://images.unsplash.com/photo-1605232433977-5b5d562812e9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=678&q=80");
}

#group1 {
  background-image: url("./public/Group_bw.jpg");
}

#dave {
  background-image: url("./public/dave_bw.jpg");
}

#dave_tim {
  background-image: url("./public/dave_tim_bw\ \(1\).jpg");
}

#dave_tim2 {
  background-image: url("./public/dave_time2_bw.jpg");
}

#mike {
  background-image: url("./public/Mike_bw.jpg");
}

#tim {
  background-image: url("./public/Tim_bw.jpg");
}
#al {
  background-image: url("./public/Al_bw.jpg");
}

#kylie {
  background-image: url("./public/Kylie_bw.jpg");
}
/***********************************************************************
 *  Page Details
 **********************************************************************/
.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.page-title {
  font-size: 2em;
  color: #e09200;
  font-family: Crushed, serif;
  padding: 10px 0px;
}

.member-info {
  color: rgb(182, 142, 83);
  font-style: italic;
  text-transform: lowercase;
  font-size: 19px;
}

.bio-name {
  border-bottom: 2px solid rgba(94, 54, 22, 0.5);
  font-size: 20px;
}

#scroll-1 {
  transform: rotate(180deg);
}
/***********************************************************************
 *  Form
 **********************************************************************/
.form-element {
  display: flex;
  justify-content: stretch;
  background: red;
}

.form-contact {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-boxes {
  border-bottom: 2px solid rgb(139, 110, 85);
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-left: 2px solid rgba(0, 0, 0, 0);
  border-right: 2px solid rgba(0, 0, 0, 0);
  width: 350px;
  background-color: rgba(19, 12, 0, 0.466);
  margin-bottom: 10px;
  color: rgb(230, 191, 119);
  font-family: PLayfair, serif;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  transition: 1s;
}

.small-box {
  height: 25px;
  text-align: center;
}
.form-boxes:hover {
  background-color: rgba(36, 24, 6, 0.2);
  border: 2px solid rgba(90, 72, 58, 0.3);
}
/***********************************************************************
 *  Testimonials
 **********************************************************************/
.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.testimonial-person {
  background-color: tomato;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  /* filter: sepia(1); */
  border: 5px solid rgb(185, 121, 25);
}
.testimonial-text {
  width: 400px;
  font-size: 20px;
}

.testing {
  display: flex;
  justify-content: center;
}
#female1 {
  background-image: url("https://randomuser.me/api/portraits/women/22.jpg");
  background-position: center;
}

#female2 {
  background-image: url("https://randomuser.me/api/portraits/women/12.jpg");
  background-position: center;
}

#male1 {
  background-image: url("https://randomuser.me/api/portraits/men/22.jpg");
  background-position: center;
}

#male2 {
  background-image: url("https://randomuser.me/api/portraits/men/12.jpg");
  background-position: center;
}

#unknown {
  background-image: url("./public/profile-pic.jpeg");
  background-position: center;
  background-size: contain;
}

.testimonial-tile {
  max-width: 600px;
  min-width: 600px;
}

/***********************************************************************
 *  Footer
 **********************************************************************/
.footer {
  background: #f3aaaa;
  min-height: 20px;
}

/***********************************************************************
  *
  Media
  Queries
  **********************************************************************/

/* .content {
    width: 90%;
  }
  .tile {
    flex-direction: column;
    position: relative;
  }
  .text-tile {
    background-image: radial-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 75%;
    z-index: 10;
    min-height: 0;
    justify-content: center;
  }

  .img-tile {
    width: 100%;
    height: 300px;
    z-index: 0;
  }

  .text-tile-text-emp {
    font-size: 19px;
    text-shadow: 2px 2px 10px #000000;
  }
  .text-tile-text-minor {
    font-size: 18px;
    text-shadow: 2px 2px 10px #000000;
  }
  .inner-tile {
  }
  .cover-logo {
    max-width: 300px; 
  }*/

@media only screen and (max-width: 950px) {
  .navlink {
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .logo-image {
    padding-top: 5px;
  }
  .cover-logo {
    max-width: 350px;
  }
  .left-links {
    left: calc(50% - 165px);
    flex-direction: column;
  }

  .right-links {
    right: calc(50% - 205px);
    flex-direction: column;
  }
  .content {
    width: 400px;
  }
  .tile {
    flex-direction: column;
    position: relative;
    width: 400px;
    min-width: 1px;
    padding: 5px;
  }

  .img-tile {
    width: 100%;
    z-index: 0;
    height: 300px;
  }

  .text-tile {
    background-image: radial-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    z-index: 10;
    min-height: 0;
    justify-content: center;
    margin-left: 0px;
  }
  .text-tile-text-emp {
    font-size: 20px;
    text-shadow: 2px 2px 10px #000000;
    color: rgb(195 169 141);
  }
  .text-tile-text-minor {
    font-size: 18px;
    text-shadow: 2px 2px 10px #000000;
  }

  .bio-name {
    font-size: 25px;
  }

  .form-text {
    font-family: Crushed, serif;
  }

  .bio-tile {
    min-height: 600px;
  }
  .bio-text-tile {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    width: 100%;
    height: 100%;
    padding: 0px;
  }

  .form-contact {
    max-width: 700px;
    display: block;
    flex-direction: none;
    justify-content: none;
  }

  .testimonial-tile {
    min-width: 400px;
    max-width: 400px;
  }

  #video-text-tile {
    margin-left: 0;
    position: relative;
    top: 0%;
    bottom: 0%;
  }

  #video-container {
    height: 225px;
    width: 400px;
  }
  .dropDown-btn {
    display: block;
  }
  .logo-image {
    display: block;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    float: right;
  }

  .dropdown-content {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    border: 2px solid rgba(122, 110, 100, 0.65);
  }

  .dropdown-content a:hover {
    color: #e09200;
    border-top: 2px solid rgb(94, 54, 22);
    border-bottom: 2px solid rgb(94, 54, 22);
  }

  .link-container {
    width: 400px;
    display: flex;
    justify-content: space-between;
  }

  #longDisplay {
    display: none;
  }
}
